# Binaries
*.exe
[Bb]in*/
[Bb]uild*/ 

# Python
*.pyc
__pycache__*/
[Vv]env*/
.[Vv]env*/

# Rust
.cargo-lock
.rustc_info.json
*.d
*.fingerprint*/
*.lock
*.toml
CACHEDIR.TAG
[Dd]eps*/
[Ee]xamples*/
[Ii]ncremental*/
[Tt]arget*/

# React
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch

# VS Code Files/Folders
CppProperties.json
.vscode*/

# VS Files/Folders
*.exe.recipe
*.idb
*.ilk
*.iobj
*.ipdb
*.lastbuildstate
*.log
*.obj
*.pdb
*.sln
*.tlog
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs*/
[Dd]ebug*/
[Rr]elease*/
x64*/
x86*/

# Other
.vs/
.obsidian/

