# ** Binaries **************************************************************** #
# Executables
*.exe
*.out

# Objects
*.o
*.obj

# Data
*.bin

# Libraries
*.a
*.dll
*.dylib
*.lib
*.so
*.so.*

# Build directories
[Bb]in*/
[Bb]uild*/ 
[Dd]ebug*/
[Rr]elease*/
[Tt]arget*/
x64*/
x86*/

# ** Python ****************************************************************** #
# Cache
__pycache__*/
*.pyc

# Virtual Environments
[Vv]env*/
.[Vv]env*/

# ** Visual Studio *********************************************************** #
.vs/
[Bb]uild[Ll]og.*
*.[Cc]ache
*.idb
*.ilk
*.iobj
*.ipdb
*.lastbuildstate
*.log
*.pdb
*.sln
*.tlog
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# ** VS Code ***************************************************************** #
.vscode/*
.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# ** Windows ***************************************************************** #
[Dd]esktop.ini
$RECYCLE.BIN/
Thumbs.db
*.lnk
*.msi

# ** Others ****************************************************************** #
.obsidian/
[Oo]ld/